<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>common-entities</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>common-entities</id>
      <repositories>
        <repository>
          <id>central</id>
          <releases>
            <enabled>true</enabled>
          </releases>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
        <repository>
          <id>common-entities</id>
          <url>https://maven.pkg.github.com/wesco-chandanabuduru/common-entities</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>common-entities</id>
      <username>wesco-chandanabuduru</username>
      <password>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</password>
    </server>
  </servers>
</settings>
